body {
//  background:url(https://source.unsplash.com/user/erondu/1600x900);
  background-image:url(../images/bg.jpeg);  
  height:100%;
  width:100%;
//  background-repeat:repeat-x;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:100% 100%;
}

// background
//文章内容的透明度设置
.content-wrap {
  opacity: 0.9;
}

//侧边框的透明度设置
.sidebar {
  opacity: 0.9;
}

//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.9);
}

//搜索框（local-search）的透明度设置
//.popup {
//  opacity: 0.1;
//}
